#swimbi{
	padding: -30px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 17px;
}
#swimbi ul{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAk0lEQVQIW2Pkypn1nzHmyJf/jHx9p/4zRhwCsgIPfP7P6LwbSFjt+PSf0XTrx/+MRluAhP5mIKG+EUioboARKus//GdEEGAJvimXgMSMG/8Z+efeBxILHv9nFFjx7j+j2GqgYqk1QEJuLUyb9iagDmOQHRbbgYTdTqCVnnuBljvtArJ4W/f+Zyw8/fU/I0dYFcReAJjuYmpmG7BJAAAAAElFTkSuQmCC);
	min-width: 990px;
	padding: 0 -0.5px 0 0px;
	border-radius: 6px;
	box-shadow: 0px 2px 6px  0px rgba(85,85,85,.55);
	margin: 0;
	width: auto;
	text-align: none;
	list-style: none;
	position: relative;
	display: inline-table;
}
#swimbi a{
	font-family: Arial, Helvetica, sans-serif !important;
}
#swimbi>ul>li{
	float: left;
	position: relative;
}
#swimbi ul li:hover>ul, .hvr>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: scale3d(1,1,1); -ms-transform: scale3d(1,1,1); transform: scale3d(1,1,1); -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
#swimbi>ul>li:hover>a, .hvr>a{
	color: #ffffff !important;
	border-radius: 0px;
	z-index: 9;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 30px;
	line-height: 36px;
	height: 36px;
	color: #ffffff;
	text-shadow: -1px -1px 0px rgba(0,0,0,.50);
}
#swimbi ul ul{
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity: 0; -webkit-transform: translateY(-20%) scale3d(0.1,0.1,0.1); -ms-transform: translateY(-20%) scale3d(0.1,0.1,0.1); transform: translateY(-20%) scale3d(0.1,0.1,0.1);
	visibility: hidden;
	display: block;
	pointer-events: none;
	background: #f9feff;
	border-radius: 0px;
	width: auto;
	min-width: 200px;
	padding: 0px 1px 1px 0px;
	margin: 0;
	position: absolute;
	z-index: 8;
	margin-top: 0;
	box-shadow: -1px -1px 0px  0px rgba(85,85,85,.010);
	top: 36px;
}
#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #999;
}
#swimbi ul ul li a{
	padding: 0px 15px;
	padding-right: 46px;
	line-height: 25px;
	height: 25px;
	color: #5a5a5a !important;
	margin: 0;
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #505050 !important;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #98d5e2;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 8;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'FontAwesome';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a:before, #swimbi>ul>li>a:after{
	color: #ffffff;
	font-family: FontAwesome;
	pointer-events: none;
	line-height: 36px;
	font-size: 18px;
    padding: 0 14px 0 0;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
    float:left;
    content:attr(data-icon);
    visibility:hidden;
}

#swimbi>ul>li>a:after{
    visibility:visible;
    position:absolute;
    top:0;
    padding: 0;
    text-shadow: -1px -1px 0 rgba(0,0,0,.50);
    left: 30px;
    transition: all .12s ease-out;
}

#swimbi>ul>li>a.empty:before{
    padding: 0;
}

#swimbi>ul>li:hover>a:after{
	color: #ffffff;
	font-size: 23px;
	left: 27.5px;
	text-shadow: -1px -1px 0px rgba(0,0,0,.50);
}

#swimbi ul ul li a:before{
    visibility:visible;
	color: #5a5a5a;
	line-height: 25px;
	font-size: 17px;
    padding: 0 8px 0 0;
}

#swimbi ul ul li:hover>a:before{
	color: #505050;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		padding: 0;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		margin: 0 4px 0 4px;
	}

	#swimbi>ul>li>a{
	    display:none;
	}

	#swimbi>ul:hover>li>a, .hvr>li>a{
		display:block !important;
	}

	#swimbi>ul>li:hover, .hvr{
		z-index: 9 !important;
	}

	#swimbi>ul:before {
	    font-family: FontAwesome;
	    content: '\f0c9';
		color: #ffffff;
		font-size: 18px;
	    float: right;
	    line-height: 36px;
	    padding: 0 20px;
	}

	#swimbi>ul:hover:before {
	    opacity: 0
	}

	#swimbi ul ul {
		left: 25px !important;
	}

	#swimbi ul ul ul{
		margin-top: 25px;
	}
}
